# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [ ]:
number = 6

print(number)

6

##### Assinging float

In [ ]:
numberFloat = 2.3

print(numberFloat)

number_Float = 2.5

2.3

#### Performing Calculations on ints and floats

##### Addition

In [ ]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

# Short-hand version 
result += 2 # result = result + 2
print(result)

7.4
9.4

##### Subtraction

In [ ]:
result_diff = num2 - num1
print(result_diff)

# short-hand version
result_diff -= 1
print(result_diff)

3.4000000000000004
2.4000000000000004

##### Multiplication

In [ ]:
result_mul = num1 * num2
print(result_mul)

#short-hand version
result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [ ]:
result_div = num2/num1
print(result_div)

#short-hand version
result_div /= 2
print(result_div)

2.7
1.35

##### Floor Division

In [ ]:
result_floor = num2 // num1
print(result_floor)

#short-hand version
result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [ ]:
result_mod = num2 % num1
print(result_mod)

#short-hand version
result_mod %= 2
print(result_mod)

1.4000000000000004
1.4000000000000004

##### Exponential

In [ ]:
square = 5 ** 2
print(square)

#short-hand version
square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [ ]:
name = "Joel"
print(name)

Joel

##### print() <br>
<p>Don't forget about end=' '</p>

In [ ]:
print("This is my first name: ", name)

print("Full Name: ", name, end=" Carter")

This is my first name:  Joel
Full Name:  Joel Carter

##### String Concatenation

In [ ]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

# Short-hand version
full_name += " Jr"
print(full_name)

John Smith
John Smith Jr

##### Type Conversion

In [ ]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num)

32
32

##### input()

In [ ]:
# Input will always return a string -- All the time

# name = input('What is your name? ')

# print(name)

age = int(input("What is your age?: "))

add_age = age + 1
print(add_age)

What is your age?: 30
31

##### format()

In [ ]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age,name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 30
You are 30 Joel and you are getting wiser!
30 is a great time in life!!!

##### Old Way (python 2)

In [ ]:
result_string2 = "You are %s and you look great for your age!" %age
print(result_string2)

You are 30 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [ ]:
#OUTPUT:  The car's color is blue, the year is 2019, make is honda, and model is CR-V

name = input("What is your name?: ")
color = input("What color is your car?: ")
year = input("What year is your car?: ")
model = input("What model is your car?: ")
results = f"{name}, your {year} {model}'s color is {color}"

print(results)

What is your name?: Joel
What color is your car?: Gun Metal
What year is your car?: 2019
What model is your car?: CR-V
Joel, your 2019 CR-V's color is Gun Metal

### If Statements

In [ ]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F
# T && T = T
# T || F = T
# F || T = T
# F || F = F

num1 = 5
num2 = 10

if num2 == num1:
    print('Equal Values')
else:
    print("Not Equal")
    
if num2 >= num1:
    print("Num2 is greater")
elif num1 <= num2:
    print("Num1 is less than")

Not Equal
Num2 is greater

##### 'is' keyword

In [ ]:
# use the "is" keyword when checking for same/similar object, NOT same value
num3 = 55

if num3 is 55:
    print("This is the exact number/object")

This is the exact number/object

##### 'in' keyword

In [ ]:
# Check if char in name
char_name = "Max Payne"

if "Max" in char_name:
    print("The Character who lost everything...")

The Character who lost everything...

##### 'not in' keyword'

In [ ]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print("a is NOT here...")

a is NOT here...

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [ ]:
# OUTPUT: True -- if p is found
# False -- if p is NOT found

street=input("Where do you live?")
result_string = "You live on {} street.".format(street)
print(result_string)

if 'p' not in street:
    print("p is NOT here...")

Where do you live?154th
You live on 154th street.
p is NOT here...

In [15]:
name = input("What is your name")
result_string= f"Your name is {name}."
print(result_string)

if 'p' not in name.lower():
    print("p is not in your name")
else:
    print("p is in your name")

What is your namePeter
your name is peter.
p is in your name

## Using 'and'/'or' with If Statements

In [ ]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

# If with "and" statment
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True and True")
    
# If with "or" statement
if num_11 > num_12 or num_13 == num_14:
    print("True and False")

True and True
True and False

### Elif Statements

In [ ]:
first_name = "Max"

if first_name == 'Smith':
    print("The name is Smith")
elif first_name != 'Max':
    print("The name is NOT Max")
else:
    print("The name is Max")

The name is Max

### Else Statements

In [ ]:
# see above

### For Loops

In [20]:
#for [placeholder] in [iterable]
name = "Connor"
print("yo yo yo")
for letter in name:
    print("*")
    print(letter)
    print("$")
print("meh")

yo yo yo
*
C
$
*
o
$
*
n
$
*
n
$
*
o
$
*
r
$
meh

In [24]:
my_list = ["tacos", 123, 123.5, [3,4,5], {"key":"value"}]


for thing in my_list:
    print(thing)
    print(type(thing))

tacos
<class 'str'>
123
<class 'int'>
123.5
<class 'float'>
[3, 4, 5]
<class 'list'>
{'key': 'value'}
<class 'dict'>

In [25]:
my_list = [8,99,281]

for number in my_list:
    print(number+2)

10
101
283

In [28]:
mycls = ["Diana", "Gulfem", "Perry", "Caleb"]

print(mycls[0])

Diana

In [29]:
len(mycls)

4

In [30]:
list(range(4))

[0, 1, 2, 3]

In [42]:
for index in range(len(mycls)):
    print(index)
    print(mycls[index])

0
Diana
1
Gulfem
2
Perry
3
Caleb

In [46]:
list(enumerate(mycls))

[(0, 'Diana'), (1, 'Gulfem'), (2, 'Perry'), (3, 'Caleb')]

In [48]:
for index, name in enumerate(mycls):
    print(name, "is at the index of:", index)

Diana is at the index of: 0
Gulfem is at the index of: 1
Perry is at the index of: 2
Caleb is at the index of: 3

In [36]:
# for keyword, counter, in keyword, condition

# for i in range(10):
#     print(i)
    
name = "Joel Carter"

for letter in name:
    print(letter)
    
for i in range(len(name)):
    print(name[i])

J
o
e
l

C
a
r
t
e
r
J
o
e
l

C
a
r
t
e
r

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [64]:
myclass = ["Connor", "Caleb", "Perry", "Tony", "Lizzette", "Carol"]
for index, name in enumerate(myclass):
    if name[0].lower() == "c":
            print(name,"starts with C")
            break
            print("The index for you is", index, "\n")
    else:
            print(f"{name} are not as  cool as the others \n")

Connor starts with C

In [69]:
mylist = [5,4,3,2,1]
for number in mylist:
    if number < 4:
        print(number)
        continue
    print("Hey you are here")

Hey you are here
Hey you are here
3
2
1

In [67]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [ ]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [ ]:
for i in name:
    pass # TODO: COME BACK AND FINISH IMPLEMENTATION

In [ ]:
if True:
    pass
print()

##### Double For Loops

In [70]:
counter = 0 
for i in range(5):
    for j in range(5):
        counter += 1
        print(f'i={i} j={j} and total={counter}')

i=0 j=0 and total=1
i=0 j=1 and total=2
i=0 j=2 and total=3
i=0 j=3 and total=4
i=0 j=4 and total=5
i=1 j=0 and total=6
i=1 j=1 and total=7
i=1 j=2 and total=8
i=1 j=3 and total=9
i=1 j=4 and total=10
i=2 j=0 and total=11
i=2 j=1 and total=12
i=2 j=2 and total=13
i=2 j=3 and total=14
i=2 j=4 and total=15
i=3 j=0 and total=16
i=3 j=1 and total=17
i=3 j=2 and total=18
i=3 j=3 and total=19
i=3 j=4 and total=20
i=4 j=0 and total=21
i=4 j=1 and total=22
i=4 j=2 and total=23
i=4 j=3 and total=24
i=4 j=4 and total=25

### While Loops

In [ ]:
# while keyword, condition statement
# based on the conditional Statement

num = 0
while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
game_over = False

while True:
    print("Infinite Loop")
    if game_over == False:
        break

Infinite Loop

In [72]:
x = 0
while True:
    print("hello")
    x+=1
    if x == 5:
        break

hello
hello
hello

In [73]:
num = 0
total = 0

while num < 5:
    print("While loop iteration: ", num)
    for i in range(5):
        total +=1
        print("for loop iteration", i)
        print("Total times loop ran", total)
    num+=1

While loop iteration:  0
for loop iteration 0
Total times loop ran 1
for loop iteration 1
Total times loop ran 2
for loop iteration 2
Total times loop ran 3
for loop iteration 3
Total times loop ran 4
for loop iteration 4
Total times loop ran 5
While loop iteration:  1
for loop iteration 0
Total times loop ran 6
for loop iteration 1
Total times loop ran 7
for loop iteration 2
Total times loop ran 8
for loop iteration 3
Total times loop ran 9
for loop iteration 4
Total times loop ran 10
While loop iteration:  2
for loop iteration 0
Total times loop ran 11
for loop iteration 1
Total times loop ran 12
for loop iteration 2
Total times loop ran 13
for loop iteration 3
Total times loop ran 14
for loop iteration 4
Total times loop ran 15
While loop iteration:  3
for loop iteration 0
Total times loop ran 16
for loop iteration 1
Total times loop ran 17
for loop iteration 2
Total times loop ran 18
for loop iteration 3
Total times loop ran 19
for loop iteration 4
Total times loop ran 20
While loop iteration:  4
for loop iteration 0
Total times loop ran 21
for loop iteration 1
Total times loop ran 22
for loop iteration 2
Total times loop ran 23
for loop iteration 3
Total times loop ran 24
for loop iteration 4
Total times loop ran 25

##### While & For Loops Used Together

In [ ]:
num = 0

while num < 5:
    print("\n While Loop Iteration: " + str(num))
    
    for i in range(2):
        print("For Loop Iteration: ", str(i))
        
    num += 1

 While Loop Iteration: 0
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 1
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 2
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 3
For Loop Iteration:  0
For Loop Iteration:  1

 While Loop Iteration: 4
For Loop Iteration:  0
For Loop Iteration:  1

### Built-In Functions

##### range()

In [ ]:
#Start, Stop, Step
for i in range(2, 20, 2):
    print(i)

2
4
6
8
10
12
14
16
18

##### len()

In [74]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

##### help()

In [ ]:
# Use this function to view more info about a python function (With a DOCSTRING)
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

##### isinstance()

In [75]:
# Check a variable to find out what Object family it belongs to
# isinstace(var, type)
isinstance("cow",str)

True

##### abs()

In [ ]:
# | 5 |

print(abs(-5))

5

In [ ]:
! - bang, exclamation point
# - pound sign, hash/hashtag, octothrope
[] - brackets, square bracket
() - parans, parathesis l/r paran
{} - Braces, curly brackets , or Squiggles
#! - shebang
% - grapes, percen, mod
@ - at symbol 
* = star, splat or asterick

<> - angle brackets / greater than/less than ... Wakka /Wakka Wakka

### Try and Except

In [81]:
# use whenever you expect to encounter a bug so that the error doesn't cause the program to stop
# Use so that you can log out graceful and useful error messages
try:
    5/0
    print("hey it works")
except ValueError:
    print("Can't divide by 0")
except ZeroDivisionError:
    print("Can't divide by zero")
finally:
    print("Okay move along")

Can't divide by zero
Okay move along

In [82]:
raise ValueError("Number cannot be that number")b

ValueError: Number cannot be that number

In [85]:
def divide(num1,num2):
    if num2 == 0:
        raise ZeroDivisionError("You hockey puck, cannot divide by zero")
    print(num1/num2)
    
divide (2,0)

ZeroDivisionError: You hockey puck, cannot divide by zero

### Lists

##### Declaring Lists

In [ ]:
mylist=[]
name = ["connor", "marco", "k rod", "perry"]
mylist2= ["string",123,123.57,[1,2,3]]

##### Indexing a List

In [109]:
name = ["connor", "marco", "k rod", "perry"]
print(name[2])
print(name[-2])

k rod

In [120]:
a_list = [1,2,3,["a","b","c"],4]
print(a_list[1])

print(a_list[3])
a_list[3][1].upper()

2
['a', 'b', 'c']

'B'

In [124]:
name = ["connor", "marco", "k rod", "perry", "diana","caleb", "dylan"]

name[0:3] #<----- slicing list

['connor', 'marco', 'k rod']

In [133]:
name = ["connor", "marco", "k rod", "perry", "diana","caleb", "dylan"]
name[4:1:-1]

['diana', 'perry', 'k rod']

In [136]:
name = ["connor", "marco", "k rod", "perry", "diana","caleb", "dylan"]
name[0::2]

['connor', 'k rod', 'diana', 'dylan']

##### .append()

In [139]:
name = ["connor", "marco", "k rod", "perry", "diana","caleb", "dylan"]
print(name.append("lizette"))
print(name)

None
['connor', 'marco', 'k rod', 'perry', 'diana', 'caleb', 'dylan', 'lizette']

In [140]:
names = ["connor", "marco", "k rod", "perry", "diana","caleb", "dylan"]
names.insert(3,"lizette")
print(names)

['connor', 'marco', 'k rod', 'lizette', 'perry', 'diana', 'caleb', 'dylan']

##### .insert()

['Max', 'Cindy', 'Kathy', 'Gabby', 'bob', 'Nate', 'Joel']

##### .pop()

In [144]:
names = ["connor", "marco", "k rod", "perry", "diana","caleb", "dylan"]
print(names)

['connor', 'marco', 'k rod', 'perry', 'diana', 'caleb', 'dylan']


##### .remove()

In [145]:
names = ["connor", "marco", "k rod", "perry", "diana","caleb", "dylan"]
names.remove("dylan")
print(names)

['connor', 'marco', 'k rod', 'perry', 'diana', 'caleb']

In [148]:
names = ["connor", "marco", "k rod", "perry", "diana","caleb", "perry"]

while "perry" in names: #Remove multiple incidents of perry with the while loop
    names.remove("perry")
names

['connor', 'marco', 'k rod', 'diana', 'caleb']

##### del()

In [149]:
names = ["connor", "marco", "k rod", "perry", "diana","caleb", "dylan"]
del names[6]

names

['connor', 'marco', 'k rod', 'perry', 'diana', 'caleb']

In [150]:
#cannot do
for i in range(len(names)):
    del names[i]

IndexError: list assignment index out of range

##### Concatenating Two Lists

In [ ]:
# will append two lists together, not add up the elements in each list

l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [ ]:
# Lists are able to hold any type of element, including OTHER lists themsevles
# they can also go as deep as you want, having many lists nested inside of each other

names = ["Max", "Sam","Josh",["Sally","Sue","Tameka"]]

print(names)
print(names[3][1])

['Max', 'Sam', 'Josh', ['Sally', 'Sue', 'Tameka']]
Sue

##### Looping Through Lists

In [ ]:
# two ways to loop through a list, one is by index, the other is by using the 'in' keyword

# Loop with a for loop (By Index)
for i in range(len(names)):
    print(names[i])
    
# Loop with a for loop (Using the 'in' keyword)
for i in names:
    print(i)

Max
Sam
Josh
['Sally', 'Sue', 'Tameka']
Max
Sam
Josh
['Sally', 'Sue', 'Tameka']

In [ ]:
# Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
#come back to, num is not defined, confused as to how I can do this without this being a function...


start_list = list(range(1,1001))
final_list = []
if num in start_list == num **3
    print(final_list)
else:
    break

SyntaxError: invalid syntax (3517417413.py, line 6)

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [2]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for

start_list = list(range(1,101))
prime_list = []
for num in start_list:
    if num is not % 2 == 0 and num is % 3 == 0:
        prime_list += 1

SyntaxError: invalid syntax (513868956.py, line 8)

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [9]:
age = int(input("What is your age?: "))
if age < 18:
    print("You're a kid still")
elif age >= 18 and age <= 65:
        print("You're an adult")
else:
        print("Time for bed grandpa")

What is your age?: 96
Time for bed grandpa